body.lock{
    overflow: hidden;
}

/* intro ============================================================================*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 440px;
    padding-top: 75px;
    background-size: cover;
    background: #263547 url(../img/donate1.png) no-repeat center;


}

.intro2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 440px;
    background-size: cover;
    background: #263547 url(../img/donate2.png) no-repeat center;


}

.sub__info{
    text-decoration: none;
    color: #0bc552;
}


.intro__title{
    margin: 40px 0 30px;

    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #0bc552;
    font-weight: 700;
    text-transform: uppercase;
    /*text-align: left;*/
    line-height: 1.1;

}


.intro__inner{
    max-width: 970px;
    width: 100%;
    margin: 20px auto;
    text-align: center;

}

.intro__subtitle {

    font-size: 22px;
    color: #c5c5c5;
    line-height: 1.5;
    font-weight: 400;
}

.btn:hover{

    opacity: 1;
    background-color: #0eb54d;
}


/* features============================================================================*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}


.features__item{
    width: calc(100% - 20px);

    /* width: 25%; */
    text-align: center;
    padding: 0 30px;
    margin: 25px 0;

}

.features__icon{
    margin-bottom: 20px;
}

.features__title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #0bc552;
}
.features__text{
   color: #7f7e7e; 
   font-size: 20px;
   font-weight: 300;


}

/* CARD ================================================*/
@media screen and (min-width: 480px) {
    .features__item {
      width: calc(50% - 20px);
    }
}

@media screen and (min-width: 960px) {
    .features__item {
      width: calc(33.33% - 20px);
      min-height: 0;
    }
}

.card{
    width: 320px;
    height: 400px;
    background-color:#141414;
    color:#c5c5c5;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;    
    position: relative;
    overflow: hidden;
}

.card::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0eb54d;
    transform: skewY(345deg);

    position: absolute;
    top: -50%;

    transition: 0.5s;


}



.card:hover::before{
    transform: skewY(390deg);
    top: -70%;
}

.card__img{

    width: 100%;
    position: relative;
    transition: 0.5s;
}



.card:hover .card__img {
    width: 70%;
}

.card__name{
    font-size: 18px;
    margin: 0 0 10px;
    position: relative;
}

.card__price{
    font-size: 24px;
    margin: 0 0 30px;
    position: relative;

}

.card__currency{
    font-size: 18px;

}

.card__btn{
    border: none;
    cursor: pointer;
    background-color: #0bc552;
    padding: 15px 30px;
    border-radius: 30px;
    color: #141414;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;  
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    top: 100px;

}

.card__btn:hover{
    background-color: #0e7937;

}


.card:hover .card__btn{
    top: 20px;
}


/* footer================================================*/
.footer{
    padding: 30px 0;
}

.footer__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.footer__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__block{
    width: 33.33333%;
    text-align: center;
}


.footer__title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #c5c5c5;
    margin-bottom: 10px;

}

.footer__subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #c5c5c5;
    margin-bottom: 10px;
}

 /* POPUPS----------------------------  */



.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: visible;
    display: none;

    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity 0.8s ease 0s;
}

.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__content{

    background-color: #1e1e1e;
    color: #c5c5c5;
    max-width: 800px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    border-radius: 30px;
}


.popup__close{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #c5c5c5;
    text-decoration: none;

    background: none;
    border: none;
}

.popup__close:hover {
    cursor: pointer;
}

.popup__title{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.price{
    margin-bottom: 10px;
}

.popup__content input[type = "text"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0bc552;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:  0.25s;
}

.popup__content input[type = "text"]:focus{
    width: 280px;
    border-color: #0e7937;
}

.btn:hover{

    opacity: 1;
    background-color: #0eb54d;
}

.check{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}