body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


.btn {
    display: inline-block;
    vertical-align: top;
    font-family: 'Raleway', sans-serif;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    color: #141414;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 40px;
    margin-top: 60px;
    background-color: #0bc552;
    border-radius: 6px;

    transition: background-color .1s linear;
}


.nav{
    font-size: 15px;
}

.nav__link {
    margin-left: 50px;
    color: #c5c5c5;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    opacity: .90;
    font-family: 'Raleway', sans-serif;

    transition: color .1s linear;
}

.nav__link:hover{
    opacity: 1;
    color: #0eb54d;
}

.nav__link:first-child{
    margin-left: 0;
}


/*  Burger ================================================*/

.burger{
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 20px;
}

.burger__item{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #c5c5c5;
    font-size: 0;
    color: transparent;

    position: relative;

}

.burger__item:before, .burger__item:after{
    content:"";
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #c5c5c5;
}

.burger__item:before{
    top: -8px;
}

.burger__item::after{

    bottom: -8px;
}


/*  media ================================================*/
/*  HEADER */
@media (max-width: 991px) {


    /*  header ========*/

    .header__logo{
        padding: 0 15px;
    }


    /*  Navigation ========*/

    .nav{
        display: none;
        width: 100%;
        text-align: right;
        position:absolute;
        right: 0;
        top: 100%;
        background-color: #141414;
        flex-direction: column;
    }

    .nav__link{
        padding: 9px 15px;
    }


    .nav.show{
        display: flex;
    }

    /*  Burger ========*/

    .burger{
        display: block;
    }

    /*  feature ========

    .features__item{
        width: 50%;
    }

    */

}


/*  INTRO */

@media (max-width: 767px) {

    .intro{
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }


    .intro__title{
        font-size: 30px;
    }


    .intro__subtitle{
        font-size: 15px;
        margin-bottom: 10px;
    }

    /*  outrp ========*/
    .outro__item{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: 0 0;
    }

    .outro__title{
        font-size: 20px;
    }

    /*  footer ========*/
    .footer{
        padding: 0;
    }

    .footer__block{
        width: 100%;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer__logo{
        display: none;
    }

    .footer__block:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 800px){
	.footer__inner{
		flex-direction: column;
	}
}


/* social================================================*/

.social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #0bc552;
    transition: background .1s linear;

    margin: 5px;
}


.social__item:hover{
    background-color: #0e7937;

}

.social__icon{
    fill: #0bc552;
    display: block;
    height: 50px;
}


/* outro ================================================*/

.outro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding-top: 50px;
    background-size: cover;
    background: #263547 url(../img/outro-bg.png) no-repeat center;
}


.outro__block {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.outro__item{
    width: 50%;
    text-align: center;
    padding: 30px 40px;
    margin: -5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: min-content;
}


.outro__title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #0bc552;
}


.outro__text {

    color: #7f7e7e;
    font-size: 20px;
    font-weight: 300;


}


.outro__fone {
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: rgba(20, 20, 20, 0.63);
}


/* Container ============================================================================*/
.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;

}


/* Header ============================================================================*/

.header{
    width: 100%;
    background-color: #141414;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 85px;
    position: fixed;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;


}