/* intro ============================================================================*/

.intro{
    display: block;
    left: 1px;
    height: 300px;
    padding-top: 135px;
    background-size: cover;
    background: #263547 url(../img/rules-bg.png) no-repeat center;
}

.intro__title{
    margin: 0 0 30px;

    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #0bc552;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;

}


.intro__inner{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.intro__subtitle {

    font-size: 22px;
    color: #c5c5c5;
    line-height: 1.5;
    font-weight: 400;
}

/* rules ============================================================================*/


.rules__inner{
    padding: 100px 10px;
}

.rules__title{
    color: #0bc552;
    margin-bottom: 30px;
}


.rules__block{
    display: flex;
    padding-bottom: 20px;
}



.rules__deny{
    color: rgb(209, 18, 12);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-left: 40px;
    margin: 0;

}

.rules__subinfo{
    color: #818181;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-left: 40px;
    margin: 0;
    padding-bottom: 30px;
}


.rules__number{
    padding-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    color: #0bc552;
}

.rules__subtitle {
    color: #c5c5c5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;


}

/* footer================================================*/
.footer{
    padding: 30px 0;
}

.footer__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.footer__logo{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__block{
    width: 33.33333%;
    text-align: center;
}


.footer__title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #c5c5c5;
    margin-bottom: 10px;

}

.footer__subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #c5c5c5;
    margin-bottom: 10px;
}