/* intro ============================================================================*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 1px;
    height: 440px;
    padding-top: 75px;
    background-size: cover;
    background: #263547 url(../img/info1.png) no-repeat center;


}


.info__1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 1px;
    height: 440px;

    background: #1e1e1e;

}


.info__2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 1px;
    height: 440px;
    padding-top: 75px;
    background-size: cover;
    background: #263547 url(../img/info2.png) no-repeat center;
}


.intro__title{
    margin: 0 0 30px;

    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #0bc552;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.1;

}


.intro__inner{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;



}

.intro__subtitle {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    color: #c5c5c5;
    line-height: 1.5;
    font-weight: 400;
}

/* INfo block ============================================================================*/


.info__link{
    text-decoration: none;
    color: #0bc552;
    cursor: pointer;
}



.sub__info{
    color: #0bc552;
    text-decoration: none;
}

/* footer================================================*/
.footer{
    padding: 30px 0;
}

.footer__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.footer__logo{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__block{
    width: 33.33333%;
    text-align: center;
}


.footer__title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #c5c5c5;
    margin-bottom: 10px;

}

.footer__subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #c5c5c5;
    margin-bottom: 10px;
}