/* intro ============================================================================*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 975px;
    padding-top: 135px;
    background-size: cover;
    background: #263547 url(../img/intro-bg.png) no-repeat center;


}

.intro__title{
    margin: 0 0 30px;

    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #0bc552;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;

}


.intro__inner{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.intro__subtitle {

    font-size: 22px;
    color: #c5c5c5;
    line-height: 1.5;
    font-weight: 400;
}

.btn:hover{

    opacity: 1;
    background-color: #0eb54d;
}


/* features============================================================================*/




.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}


/*
.features__item{
    width: 33.33333%;
    text-align: center;
    padding: 0 30px;
    margin: 25px 0;

}
*/

.features__item {
  text-align: center;
  padding: 0 8%;
  margin: 25px 0;
  flex: min-content;
}

.features__icon{
    margin-bottom: 20px;
}

.features__title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #0bc552;
}
.features__text{
   color: #7f7e7e; 
   font-size: 20px;
   font-weight: 300;


}

/* footer================================================*/
.footer{
    padding: 30px 0;
}

.footer__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.footer__logo{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__block{
    width: 33.33333%;
    text-align: center;
}


.footer__title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #c5c5c5;
    margin-bottom: 10px;

}

.footer__subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #c5c5c5;
    margin-bottom: 10px;
}